.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  
}
.logo_place_header {
  position: absolute;
  margin: 0;
  margin-top: 30px;
  margin-left: 64px;
  z-index: 2;

}

.header__title {
  display: flex;
  align-items: center;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
  z-index: 2;
  
}

.header__subtitle {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  color:#2f80ed;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}


.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
 display: flex;
 justify-content: space-between;
 min-width: 784px;
 width: 80%;
}

.two-columns__brief{
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-child(2) {
  padding-top: 30px;
  padding-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin: 100px auto;

}

.digits__title {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.digits__subtitle {
  margin: 20px auto 0;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 1100px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  margin:0;
  height: 890px;
  background-image: url(/images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  margin: 100px auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 70px auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color:#2f80ed;
}
.feynman__link:hover {
  text-decoration: underline;
}

.kaufman {
  margin: 0;
  overflow: hidden;
  position: relative;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;

}

.kaufman__title_theme_dark {
  width: 60%;
  margin: 90px auto 20px auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.kaufman__subtitle_theme_dark{
  margin: auto;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  z-index: 1;
}

.table__theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 90px auto;
  width: 1100px;
  z-index: 1;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.footer {
  display: flex;
  flex-basis: 711px;
  margin: 0;
  min-height: 350px;
  background-color: #1f1f1f;
 
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px;
  width: 90%;

}

.footer__column_content_copyright {
  display: flex;
  position: relative;
  width: 50%;
}

.logo__place_footer {
  position: absolute;
  margin: 0;
}

.footer__author {
  margin: 0;
  position: absolute;
  bottom: 18px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 auto 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
 
}

.footer__column-links {
  padding: 0;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal
}

.footer__column-link {
  text-decoration: none;
  color: white;
  
}

.footer__column-link:hover {
text-decoration: underline;
}

.footer_social-icon {
  size: 16px;
}