.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo_place_header {
  position: absolute;
  margin: 0;
  padding-top: 30px;
  padding-left: 64px;
  z-index: 2;
}

.header__title {
  display: flex;
  align-items: center;
  max-width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
  color: #000;
  z-index: 2;
}

.header__subtitle {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.header__link:hover {
  opacity: 0.5;
}

.header__main-illustration {
  position: absolute;
  object-fit: contain;
  object-position: right;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000;
}

.two-columns__paragraph:nth-child(2) {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: #000;
}

.section-subtitle {
  margin: 0;
  padding-top: 20px;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 1100px;
}

.table__cell {
  margin-top: 60px;
  max-width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 890px;
  background-image: url(/images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #f2f2f2;
}

.feynman__title {
  margin: 0;
  max-width: 648px;
  padding-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  color: #000;
}

.feynman__subtitle {
  margin: 0;
  padding-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity 0.2s linear;
  color: #2f80ed;
}

.feynman__link:hover {
  opacity: 0.5;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px;
  overflow: hidden;
  position: relative;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: 877px;
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
}

.section-title_theme_dark {
  padding-bottom: 20px;
  color: #fff;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #fff;
  z-index: 1;
}

.table__theme_dark {
  padding-top: 80px;
  z-index: 1;
}

.table__cell_theme_dark {
  max-width: 200px;
  color: #fff;
  z-index: 1;
}

.table__text_theme_dark {
  padding-top: 20px;
}

.footer {
  display: flex;
  box-sizing: border-box;
  padding: 60px 0 40px;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
}

.footer__column_content_social {
}

.footer__column-links {
  margin: 20px 0 16px;
  padding: 0;
}

.footer__column-link {
  margin: 0 0 16px;
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity 0.2s linear;
}

.footer__column-link:hover {
  opacity: 0.5;
}

.footer__social–icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__list {
  display: block;
}
